body{
  background-color: #fffde7;
}
.space{
  margin-right: 40px;
}
h1{
  font-family: sans-serif;
  font-style: oblique;
  color: #f57c00;
}
.menu{
  width: 100%;
  height: 50px;
}
ul.bmenu{
  margin: 0px;
  padding: 0px 0px 0px 15px;
  background-color: #ff8a65;
}
ul.bmenu li{
  width: 125px;
  display: inline-block;
  list-style-type: none;
  position: relative;
}
ul.bmenu a{
  background-color: #ff8a65;
  color: black;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: block;
}
ul.bmenu a:hover{
  background-color: #ffffee;
  color: #c75b39;
}

ul.bmenu ul{
  display: none;
  margin: 0px;
  padding: 0px;
  position: absolute;
}
ul.bmenu li:hover ul{
  display: block;
}
ul.bmenu ul li{
  width: 135px;
  border-top: 1px solid pink;
}
ul.bmenu ul li a{
  line-height: 35px;
  text-align: left;
  padding-left: 5px;
  font-weight: normal;
  font-weight: bold;
}
ul.bmenu ul li a:hover{
  background-color: #fff3e0;
  color:　#870000;
}
.top{
  width: 100%;
  height: 500px;
  background-image: url("png/IMG_7087.png");
  background-size: 1000px;
  background-repeat: no-repeat;
}
.margin{
  margin-top: 50px;
}
.topbody{
  margin-bottom: 150px;
}
/*NEWSのcss*/
ul.news_new li{
  font-weight: bold;
}
/*MAP*/
img.map{
  width: 400px;
  height: 320px;
}
/*MENU*/
.submenu{
  width: 140px;
  height: 100%;
  float: left;
}
